<%= simple_form_for(@favorite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :stock, :url => autocomplete_stock_symbol_favorites_path, :as => :autocomplete, :update_elements => {:id => "#stock_id"}, placeholder: 'Ticker' %>
    <%= f.hidden_field :stock_id, :id => "stock_id" %>
  </div>

  <%= f.label :tag_list, 'Tags (separated by commas)' %>
  <%= f.input :tag_list, as: :string, label: false %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
  
