<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @favorite.stock.symbol %>
</p>

<div id="posts">
  <% if @favorite.posts.persisted.any? %>
    <%= render @favorite.posts.persisted %>
  <% else %>
    <p>There are no posts for this favorite.</p>
  <% end %>
</div>

<%= render "posts/form", favorite: @favorite, post: @post %>
<%= link_to 'Back', favorites_path %>
