<p id="notice"><%= notice %></p>

<p>
  <%= @favorite.stock.symbol%>
</p>

<div id="posts">
  <% if @favorite.posts.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>MSG #</th>
          <th>SUBJECT</th>
          <th>TYPE</th>
          <th>SENTIMENT</th>
          <th>AUTHOR</th>
          <th>DATE POSTED</th>
        </tr>
      </thead>

      <tbody>
        <% @favorite.posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td class="blue">
              <%= link_to [@favorite, post] do %>
                <%= post.title %>
              <% end %>
            </td>
            <td><%= post.post_type %></td>
            <td><%= post.sentiment %></td>
            <td><%= post.author.email unless post.author.nil? %></td>
            <td><%= post.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There are no posts for this favorite.</p>
  <% end %>
</div>

<%= render "posts/form", favorite: @favorite, post: @post %>
<%= link_to 'Back', favorites_path %>
