<% amount = holdings.amount %>
<% data = YahooFinance.quotes(["#{holdings.stock.symbol}"], [:last_trade_price, :change, :name]) %>
<% price = data[0].last_trade_price %>
<% change = data[0].change %>
<% name = data[0].name %>
<% value = amount.to_f * price.to_f %>

<tr id="holding_<%= holdings.id %>">
  <td><%= link_to holdings.stock.symbol, holdings.stock %></td>
  <td><%= name %></td>
  <td><%= amount %></td>
  <td><%= number_to_currency(price) %></td>
  <td class = "currency"><%= change %></td>
  <td><%= number_to_currency(value) %></td>
</tr>
