<div id="removable">
  <% total_value = 0 %>
  <table class="table table-hover table-condensed" id="example">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Company</th>
        <th>Amount</th>
        <th>Market Price</th>
        <th>Paid Price</th>
        <th>Market Value</th>
        <th>Money Paid</th>
        <th>Change</th>
        <th>Change %</th>
      </tr>
    </thead>

    <tbody id="holdings">
      <% @holdings.each do |holdings| %>
        <% amount = (holdings.sum_buy - holdings.sum_sell) %>
        <% paid_price = (holdings.total_buy - holdings.total_sell)/amount %>
        <% data = YahooFinance::Client.new.quotes(["#{holdings.stock.symbol}"], [:last_trade_price, :name]) %>
        <% price = data[0].last_trade_price %>
        <% name = data[0].name %>
        <% value = amount.to_f * price.to_f %>
        <% total_paid = amount.to_f * paid_price.to_f %>
        <% change = value - total_paid %>
        <% change_percent = change*100/total_paid.to_f %>
        <% total_value += value %>

        <tr id="holding_<%= holdings.id %>">
          <td><%= link_to holdings.stock.symbol, holdings.stock %></td>
          <td><%= name %></td>
          <td><%= amount %></td>
          <td><%= number_to_currency(price) %></td>
          <td><%= number_to_currency(paid_price) %></td>
          <td><%= number_to_currency(value) %></td>
          <td><%= number_to_currency(total_paid) %></td>
          <td><%= number_to_currency(change) %></td>
          <td><%= number_to_percentage(change_percent) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>Total Value: <b><%= number_to_currency(total_value) %></b></p>
</div>
