<div id="removable">
  <% total_value = 0 %>
  <table class="table table-hover table-condensed" id="example">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Company</th>
        <th>Amount</th>
        <th>Current Price</th>
        <th>Change</th>
        <th>Change %</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody id="holdings">
      <% @holdings.each do |holdings| %>
        <% amount = (holdings.sum_buy - holdings.sum_sell) %>
        <% yahoo_client = YahooFinance::Client.new %>
        <% data = yahoo_client.quotes(["#{holdings.stock.symbol}"], [:last_trade_price, :change, :change_in_percent, :name]) %>
        <% price = data[0].last_trade_price %>
        <% change = data[0].change %>
        <% percent_change = data[0].change_in_percent %>
        <% name = data[0].name %>
        <% value = amount.to_f * price.to_f %>
        <% total_value += value %>

        <tr id="holding_<%= holdings.id %>">
          <td><%= link_to holdings.stock.symbol, holdings.stock %></td>
          <td><%= name %></td>
          <td><%= amount %></td>
          <td><%= number_to_currency(price) %></td>
          <td class = "currency"><%= change %></td>
          <td class = "currency"><%= percent_change %>
          <td><%= number_to_currency(value) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>Total Value: <b><%= number_to_currency(total_value) %></b></p>
</div>
