<h1>New Stock</h1>

<%= simple_form_for [@portfolio_test, @holding_add_stock], wrapper: :inline_form,
  html: { class: 'form-inline' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :stock, :url => autocomplete_stock_symbol_portfolio_holdings_path, :as => :autocomplete, :update_elements => {:id => "#stock_id"}, placeholder: 'Ticker' %>
    <%= f.hidden_field :stock_id, :id => "stock_id" %>
    <%= f.input :position, collection: [ "Buy", "Sell" ], include_blank: false %>
    <%= f.input :date_purchased, placeholder: 'Date Purchased', :id => "datepicker", :value => Date.today, :as => :string, input_html: { class: "datepicker" } %>
    <%= f.input :amount, placeholder: 'Amount' %>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.input :trade_price, placeholder: 'Price '%>
    </div>
  </div>

  <p> </p>
  <div class="form-actions">
    <%= f.button :button, "Add Stock".html_safe, "data-loading-text": 'Loading', id: 'myButton', class: 'btn-success' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
  </div>
  <p> </p>
<% end %>

<%= simple_form_for :holding, :url => portfolio_update_all_path(@portfolio), :html => { :method => :put } do |f| %>
  <%= f.error_notification %>

  <h1>Edit Existing Stocks</h1>

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Position</th>
        <th>Date</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Delete</th>
      </tr>
    </thead>
  </tbody>

  <% @holding.each do |holding| %>
    <%= fields_for "holding[]", holding do |holding_fields| %>
      <tr>
        <tr><b><%= holding.stock.symbol %></b></td>
        <td><%= holding_fields.select :position, [ "Buy", "Sell" ] %></td>
        <td><%= holding_fields.text_field :date_purchased, placeholder: 'Date Purchased', :class => "datepicker", :value => (holding.date_purchased.strftime('%Y-%m-%d') if holding.date_purchased) %></td>
        <td><%= holding_fields.text_field :trade_price, placeholder: 'Price' %></td>
        <td><%= holding_fields.text_field :amount %></td>
        <td><%= link_to portfolio_holding_path(@portfolio, holding), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
<div class="form-actions">
  <%= f.button :submit, "Save Changes".html_safe, "data-loading-text": 'Loading', id: 'myButtonEditAllSave', class: 'btn-success' %>
  <%= link_to 'Cancel', portfolio_path(@portfolio), class: 'btn btn-default' %>
</div>

<% end %>
<br>

<%= link_to 'Back to Holdings', portfolio_holdings_path(@portfolio) %> |
<%= link_to 'Back to Portfolio', portfolio_path(@portfolio) %>
<br><br>
