<h1>New Holding</h1>

<%= simple_form_for [@portfolio, @holding], wrapper: :inline_form,
  html: { class: 'form-inline' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :stock, :url => autocomplete_stock_symbol_portfolio_holdings_path, :as => :autocomplete, :update_elements => {:id => "#stock_id"}, placeholder: 'Ticker' %>
    <%= f.hidden_field :stock_id, :id => "stock_id" %>
    <%= f.input :amount, placeholder: 'Amount' %>
  </div>

  <p> </p>
  <div class="form-actions">
    <%= f.button :button, "Save".html_safe, "data-loading-text": 'Loading', id: 'myButton', class: 'btn-success' %>
    <%= link_to 'Cancel', portfolio_path(@portfolio), class: 'btn btn-default' %>
  </div>
  <p> </p>
<% end %>

<%= link_to 'Back to Holdings', portfolio_holdings_path(@portfolio) %>
