<h3><%= "SP 500" %></h3>
<div class="index1">
  <label class="select"><input type="radio" value="M" name="sp500" onClick="changeImage('m1', 'spIndex');setColor();"> M</label>
  <label class="select"><input type="radio" value="W" name="sp500" onClick="changeImage('w1', 'spIndex');" /> W&nbsp;&nbsp;</label>
  <label class="select"><input type="radio" value="D" name="sp500" checked="checked" onClick="changeImage('d1', 'spIndex');" /> D&nbsp;&nbsp;</label>
  <label class="select"><input type="radio" value="H" name="sp500" onClick="changeImage('h1', 'spIndex');" /> H&nbsp;&nbsp;</label>
  <br />
  <center><img src="http://finviz.com/fut_chart.ashx?t=ES&p=d1" name="spIndex" id="spIndex"></center>
</div>

<h3><%= "Dow Jones Industrail Average" %></h3> 
<div class="index2">
  <label class="select"><input type="radio"  value="M" name="dj" onClick="changeImage('m1', 'djIndex');" /> M</label>
  <label class="select"><input type="radio"  value="W" name="dj" onClick="changeImage('w1', 'djIndex');" /> W&nbsp;&nbsp;</label>
  <label class="select"><input type="radio"  value="D" name="dj" checked="checked" onClick="changeImage('d1', 'djIndex');" /> D&nbsp;&nbsp;</label>
  <label class="select"><input type="radio"  value="H" name="dj" onClick="changeImage('h1', 'djIndex');" /> H&nbsp;&nbsp;</label>
  <br />
  <center><img src="http://finviz.com/fut_chart.ashx?t=YM&p=d1" name="djIndex" id="djIndex"></center>
</div>

<h3><%= "Russell 2000" %></h3> 
<div class="index3">
  <label class="select"><input type="radio" value="M" name="rs2000" onClick="changeImage('m1', 'rsIndex');" /> M</label>
  <label class="select"><input type="radio" value="W" name="rs2000" onClick="changeImage('w1', 'rsIndex');" /> W&nbsp;&nbsp;</label>
  <label class="select"><input type="radio" value="D" name="rs2000" checked="checked" onClick="changeImage('d1', 'rsIndex');" /> D&nbsp;&nbsp;</label>
  <label class="select"><input type="radio" value="H" name="rs2000" onClick="changeImage('h1', 'rsIndex');" /> H&nbsp;&nbsp;</label>
  <br />
  <center><img src="http://finviz.com/fut_chart.ashx?t=ER2&p=d1" name="rsIndex" id="rsIndex"></center>
</div>

<h3><%= "US Oil" %></h3> 
<div class="index4">
  <label class="select"><input type="radio"  value="M" name="usoil" onClick="changeImage('m', 'oilIndex');" /> M</label>
  <label class="select"><input type="radio"  value="W" name="usoil" onClick="changeImage('w', 'oilIndex');" /> W&nbsp;&nbsp;</label>
  <label class="select"><input type="radio"  value="D" name="usoil" checked="checked" onClick="changeImage('d', 'oilIndex');" /> D&nbsp;&nbsp;</label>
  <br />
  <center><img src="http://www2.finviz.com/chart.ashx?t=USO&ty=c&ta=0&p=d&s=l" name="oilIndex" id="oilIndex"></center>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3>Welcome</h3>
    <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
  </div>
</div>

<script type='text/javascript'>
  function changeImage(time_frame, index)
{
  if (index == "spIndex") {
    imgUrl = 'http://finviz.com/fut_chart.ashx?t=ES&p=' + time_frame;
    image = document.getElementById(index);
    image.src = imgUrl;
  } else if (index == "djIndex") {
    imgUrl = 'http://finviz.com/fut_chart.ashx?t=YM&p=' + time_frame;
    image = document.getElementById(index);
    image.src = imgUrl;
  } else if (index == "rsIndex") {
    imgUrl = 'http://finviz.com/fut_chart.ashx?t=ER2&p=' + time_frame;
    image = document.getElementById(index);
    image.src = imgUrl;
  } else {
    imgUrl = 'http://www2.finviz.com/chart.ashx?t=USO&ty=c&ta=0&p=' + time_frame + '&s=l';
    image = document.getElementById(index);
    image.src = imgUrl;
  }
}
</script>
