<%= simple_form_for(portfolio) do |f| %>

  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %>
      prohibited this project from being saved:</h2>

      <ul>
        <% portfolio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
     </div>
  <% end %>
  
    <%-#= f.label :name -%>
    <%= f.input :name, label: 'Enter the name of your portfolio' %>
    <%= f.button :submit, class: "btn-primary" %>

<% end %>
