<!DOCTYPE html>
<html>
  <head>
    <h3>Stocks</h3>
  </head>

  <div class="saved_search">
    <% select_tag "searches", options_from_collection_for_select(Search.all, :id, :search_name) %>
  </div>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :sector_eq, "Sector" %>
      <%= f.select :sector_eq, @sector %>
      <%= f.label :industry_eq, "Industry" %>
      <%= f.select :industry_eq, @industry %>
    </div>
    <div class="field1">
      <%= f.label :market_cap_gteq, "Market Cap >=" %>
      <%= f.text_field :market_cap_gteq, :size => 15 %>
      <%= f.label :p_e_ratio_gteq, "P/E >=" %>
      <%= f.text_field :p_e_ratio_gteq, :size => 6 %>
      <%= f.label :peg_ratio_gteq, "PEG >=" %>
      <%= f.text_field :peg_ratio_gteq, :size => 6 %>
      <%= f.label :price_to_sales_ttm_gteq, "P/S >=" %>
      <%= f.text_field :price_to_sales_ttm_gteq, :size => 6 %>
      <%= f.label :price_to_book_mrq_gteq, "P/B >=" %>
      <%= f.text_field :price_to_book_mrq_gteq, :size => 6 %>
      <%= f.label :earnings_per_share_gteq, "EPS >=" %>
      <%= f.text_field :earnings_per_share_gteq, :size => 6 %>
    </div>
    <div>
      <%= f.label :market_cap_lteq, "Market Cap <=" %>
      <%= f.text_field :market_cap_lteq, :size => 15 %>
      <%= f.label :p_e_ratio_lteq, " P/E <=" %>
      <%= f.text_field :p_e_ratio_lteq, :size => 6 %>
      <%= f.label :peg_ratio_lteq, "PEG <=" %>
      <%= f.text_field :peg_ratio_lteq, :size => 6 %>
      <%= f.label :price_to_sales_ttm_lteq, "P/S <=" %>
      <%= f.text_field :price_to_sales_ttm_lteq, :size => 6 %>
      <%= f.label :price_to_book_mrq_lteq, "P/B <=" %>
      <%= f.text_field :price_to_book_mrq_lteq, :size => 6 %>
      <%= f.label :earnings_per_share_lteq, "EPS <=" %>
      <%= f.text_field :earnings_per_share_lteq, :size => 6 %>
    </div>

    <div class="actions"><%= f.submit "Filter", :class => 'search-button' %>
    <%= link_to "Clear", request.path, class: "cancel-button" %>
    <br />
    <%= link_to("Save Search", saved_search_add_path(current_user, :q => request.fullpath), id: "save_search", :remote => true) %>
    </div>
  <br />
  <% end %>

  <div>
    <button id="overview" type="submit">Overview</button>
    <button id="valuation" type="submit">Valuation</button>
    <button id="financial" type="submit">Financial</button>
  </div>
  <div> 
    <table id="stocks1" style="display:none" class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th class="header" style="vertical-align:middle;">Ticker</th>
          <th class="header" style="vertical-align:middle;">Sector</th>
          <th class="header" style="vertical-align:middle;">Industry</th>
          <th class="header" style="vertical-align:middle;">Maket cap</th>
          <th class="header" style="vertical-align:middle;">P/E</th>
          <th class="header" style="vertical-align:middle;">PEG</th>
          <th class="header" style="vertical-align:middle;">P/S</th>
          <th class="header" style="vertical-align:middle;">P/B</th>
          <th class="header" style="vertical-align:middle;">EPS</th>
          <th class="header" style="vertical-align:middle;">Short ratio</th>
          <th class="header" style="vertical-align:middle;">Institutions held</th>
          <th class="header" style="vertical-align:middle;">Volume</th>
        </tr>
      </thead>
      <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <td style="vertical-align:middle;">
            <%= link_to stock do %>
              <%= stock[:symbol] %>
            <% end %>
          </td>
          <td style="vertical-align:middle;"><%= stock[:sector] %></td>
          <td style="vertical-align:middle;"><%= stock[:industry] %></td>
          <td style="vertical-align:middle;"><%= stock[:market_cap] %></td>
          <td style="vertical-align:middle;"><%= stock[:p_e_ratio] %></td>
          <td style="vertical-align:middle;"><%= stock[:peg_ratio] %></td>
          <td style="vertical-align:middle;"><%= stock[:price_to_sales_ttm] %></td>
          <td style="vertical-align:middle;"><%= stock[:price_to_book_mrq] %></td>
          <td style="vertical-align:middle;"><%= stock[:earnings_per_share] %></td>
          <td style="vertical-align:middle;"><%= stock[:short_ratio] %></td>
          <td style="vertical-align:middle;"><%= stock[:pcnt_held_by_institutions] %></td>
          <td style="vertical-align:middle;"><%= stock[:volume] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <table id="stocks2" style="display:none" class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th class="header" style="vertical-align:middle;">Ticker</th>
          <th class="header" style="vertical-align:middle;">Company</th>
          <th class="header" style="vertical-align:middle;">Sector</th>
          <th class="header" style="vertical-align:middle;">Industry</th>
          <th class="header" style="vertical-align:middle;">Market cap</th>
          <th class="header" style="vertical-align:middle;">PEG</th>
          <th class="header" style="vertical-align:middle;">EPS(next quarter)</th>
          <th class="header" style="vertical-align:middle;">EPS(current year)</th>
          <th class="header" style="vertical-align:middle;">50d MA</th>
          <th class="header" style="vertical-align:middle;">Change(%) from 50d MA</th>
          <th class="header" style="vertical-align:middle;">200d MA</th>
          <th class="header" style="vertical-align:middle;">Change(%) from 200d MA</th>
          <th class="header" style="vertical-align:middle;">Volume</th>
        </tr>
      </thead>
      <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <td style="vertical-align:middle;">
            <%= link_to stock do %>
              <%= stock[:symbol] %>
            <% end %>
          </td>
          <td style="vertical-align:middle;"><%= stock[:company_name] %></td>
          <td style="vertical-align:middle;"><%= stock[:sector] %></td>
          <td style="vertical-align:middle;"><%= stock[:industry] %></td>
          <td style="vertical-align:middle;"><%= stock[:market_cap] %></td>
          <td style="vertical-align:middle;"><%= stock[:peg_ratio] %></td>
          <td style="vertical-align:middle;"><%= stock[:eps_estimate_next_quarter] %></td>
          <td style="vertical-align:middle;"><%= stock[:eps_estimate_current_year] %></td>
          <td style="vertical-align:middle;"><%= stock[:fifty_day_moving_average] %></td>
          <td style="vertical-align:middle;"><%= stock[:percent_change_from_50_day_moving_average] %></td>
          <td style="vertical-align:middle;"><%= stock[:two_hundred_day_moving_average] %></td>
          <td style="vertical-align:middle;"><%= stock[:percent_change_from_200_day_moving_average] %></td>
          <td style="vertical-align:middle;"><%= stock[:volume] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <table id="stocks3" style="display:none" class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th class="header" style="vertical-align:middle;">Ticker</th>
          <th class="header" style="vertical-align:middle;">Shares owned</th>
          <th class="header" style="vertical-align:middle;">Short ratio</th>
          <th class="header" style="vertical-align:middle;">Ebitda</th>
          <th class="header" style="vertical-align:middle;">ROA</th>
          <th class="header" style="vertical-align:middle;">ROE</th>
          <th class="header" style="vertical-align:middle;">Shares outstanding</th>
          <th class="header" style="vertical-align:middle;">Inisider held(%)</th>
          <th class="header" style="vertical-align:middle;">Institutions held(%)</th>
          <th class="header" style="vertical-align:middle;">Short of float(%)</th>
          <th class="header" style="vertical-align:middle;">Operating cash flow</th>
          <th class="header" style="vertical-align:middle;">Levered cash flow</th>
          <th class="header" style="vertical-align:middle;">Book value per share</th>
          <th class="header" style="vertical-align:middle;">52 week low</th>
          <th class="header" style="vertical-align:middle;">52 week high</th>
          <th class="header" style="vertical-align:middle;">Volume</th>
        </tr>
      </thead>
      <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <td style="vertical-align:middle;">
            <%= link_to stock do %>
              <%= stock[:symbol] %>
            <% end %>
          </td>
          <td style="vertical-align:middle;"><%= stock[:shares_owned] %></td>
          <td style="vertical-align:middle;"><%= stock[:short_ratio] %></td>
          <td style="vertical-align:middle;"><%= stock[:ebitda] %></td>
          <td style="vertical-align:middle;"><%= stock[:roa_ttm] %></td>
          <td style="vertical-align:middle;"><%= stock[:roe_ttm] %></td>
          <td style="vertical-align:middle;"><%= stock[:shares_outstanding] %></td>
          <td style="vertical-align:middle;"><%= stock[:pcnt_held_by_insiders] %></td>
          <td style="vertical-align:middle;"><%= stock[:pcnt_held_by_institutions] %></td>
          <td style="vertical-align:middle;"><%= stock[:pcnt_short_of_float] %></td>
          <td style="vertical-align:middle;"><%= stock[:operating_cash_flow_ttm] %></td>
          <td style="vertical-align:middle;"><%= stock[:levered_cash_flow_ttm] %></td>
          <td style="vertical-align:middle;"><%= stock[:book_value_per_share_mrq] %></td>
          <td style="vertical-align:middle;"><%= stock[:fifty_two_week_low] %></td>
          <td style="vertical-align:middle;"><%= stock[:fifty_two_week_high] %></td>
          <td style="vertical-align:middle;"><%= stock[:volume] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<%= will_paginate @stocks, :id => 'element-align' %>
<br />
</html>
<script src="/assets/stocks_table_display.js" type="text/javascript"></script>
<script type="text/javascript">
  $("#save_search").click(function() {
    $(this).attr("href", function() {
      var searchVal = prompt("Enter search name: ", "Search name");
      return this.href + "&search_name=" + searchVal;
    });
  });
</script>
