<!DOCTYPE html>
<html>
  <head>
    <h3>Stocks</h3>
  </head>

  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :sector_eq, "Sector" %>
      <%= f.select :sector_eq, @sector %>
      <%= f.label :industry_eq, "Industry" %>
      <%= f.select :industry_eq, @industry %>
    </div>
    <div class="field1">
      <%= f.label :market_cap_gteq, "Market Cap >=" %>
      <%= f.text_field :market_cap_gteq, :size => 15 %>
      <%= f.label :p_e_ratio_gteq, "P/E >=" %>
      <%= f.text_field :p_e_ratio_gteq, :size => 6 %>
      <%= f.label :peg_ratio_gteq, "PEG >=" %>
      <%= f.text_field :peg_ratio_gteq, :size => 6 %>
      <%= f.label :price_to_sales_ttm_gteq, "P/S >=" %>
      <%= f.text_field :price_to_sales_ttm_lteq, :size => 6 %>
      <%= f.label :price_to_book_mrq_gteq, "P/B >=" %>
      <%= f.text_field :price_to_book_mrq_gteq, :size => 6 %>
      <%= f.label :earnings_per_share_gteq, "EPS >=" %>
      <%= f.text_field :earnings_per_share_gteq, :size => 6 %>
    </div>
    <div>
      <%= f.label :market_cap_lteq, "Market Cap <=" %>
      <%= f.text_field :market_cap_lteq, :size => 15 %>
      <%= f.label :p_e_ratio_lteq, " P/E <=" %>
      <%= f.text_field :p_e_ratio_lteq, :size => 6 %>
      <%= f.label :peg_ratio_lteq, "PEG <=" %>
      <%= f.text_field :peg_ratio_lteq, :size => 6 %>
      <%= f.label :price_to_sales_ttm_lteq, "P/S <=" %>
      <%= f.text_field :price_to_sales_ttm_lteq, :size => 6 %>
      <%= f.label :price_to_book_mrq_lteq, "P/B <=" %>
      <%= f.text_field :price_to_book_mrq_lteq, :size => 6 %>
      <%= f.label :earnings_per_share_lteq, "EPS <=" %>
      <%= f.text_field :earnings_per_share_lteq, :size => 6 %>
    </div>

    <div class="actions"><%= f.submit "Search" %>
    <%= link_to "Clear Search", request.path, class: "cancel-button" %>
  </div>
  <% end %>

  <body> 
      <table id="stocks" class="table table-condensed">
        <thead>
          <tr>
            <th>Ticker</th>
            <th>Sector</th>
            <th>Industry</th>
            <th>Maket_cap</th>
            <th>P/E</th>
            <th>PEG</th>
            <th>P/S</th>
            <th>P/B</th>
            <th>EPS</th>
            <th>52_week_high</th>
            <th>52_week_low</th>
            <th>Short_ratio</th>
            <th>Institutions held</th>
            <th>Volume</th>
          </tr>
        </thead>
        <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td class="blue">
              <%= link_to stock do %>
                <%= stock[:symbol] %>
              <% end %>
            </td>
            <td><%= stock[:sector] %></td>
            <td><%= stock[:industry] %></td>
            <td><%= stock[:market_cap] %></td>
            <td><%= stock[:p_e_ratio] %></td>
            <td><%= stock[:peg_ratio] %></td>
            <td><%= stock[:price_to_sales_ttm] %></td>
            <td><%= stock[:price_to_book_mrq] %></td>
            <td><%= stock[:earnings_per_share] %></td>
            <td><%= stock[:fifty_two_week_high] %></td>
            <td><%= stock[:fifty_two_week_low] %></td>
            <td><%= stock[:short_ratio] %></td>
            <td><%= stock[:pcnt_held_by_institutions] %></td>
            <td><%= stock[:volume] %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
  </body>
</html>
