<!DOCTYPE html>
<html>
  <head>
    <h3>Stocks</h3>
  </head>

  <body> 
    <%= will_paginate @stocks %>
      <table id="stocks" class="table table-condensed">
        <thead>
          <tr>
            <th>Ticker</th>
            <th>Sector</th>
            <th>Industry</th>
            <th>Maket_cap</th>
            <th>P/E</th>
            <th>PEG</th>
            <th>P/S</th>
            <th>P/B</th>
            <th>EPS</th>
            <th>52_week_high</th>
            <th>52_week_low</th>
            <th>Short_ratio</th>
            <th>Institutions held</th>
            <th>Volume</th>
          </tr>
        </thead>
        <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td class="blue">
              <%= link_to stock do %>
                <%= stock[:symbol] %>
              <% end %>
            </td>
            <td><%= stock[:sector] %></td>
            <td><%= stock[:industry] %></td>
            <td><%= stock[:market_cap] %></td>
            <td><%= stock[:p_e_ratio] %></td>
            <td><%= stock[:peg_ratio] %></td>
            <td><%= stock[:price_to_sales_ttm] %></td>
            <td><%= stock[:price_to_book_mrq] %></td>
            <td><%= stock[:earnings_per_share] %></td>
            <td><%= stock[:fifty_two_week_high] %></td>
            <td><%= stock[:fifty_two_week_low] %></td>
            <td><%= stock[:short_ratio] %></td>
            <td><%= stock[:pcnt_held_by_institutions] %></td>
            <td><%= stock[:volume] %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
  </body>
</html>
