<header>
  <h3>
    Edit Current Search
  </h3>
</header>

<%= simple_form_for @search do |f| %>
  <%= f.input :search_name %>
  <%= f.input :value %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>
<%= link_to 'Cancel', stocks_path %>
