<h2>
  <%= @favorite.stock.symbol %> / <%= "Message Board" %> / <%= "Read Mesaage" %>
</h2>
<h3>
  <%= post = @post.title %>
</h3>
<p>
  <%= @post.text %>
</p>

<%= link_to 'Back', favorite_posts_path(@post.favorite) %>
