<h3>Generate a report</h3>
<div class="input-group" align="center" >
  <div class="form-inline">
    <%= form_tag(controller: :reports, action: :index, :id => "progressBar") do %>
    <%= label_tag "Please input a stock symbol: " %>&nbsp;
    <%= text_field_tag 'ticker' %><span style="display:inline-block; width: 20px;"></span>
        <%= label_tag "Biotechnology: " %>&nbsp;
        <%= check_box_tag :biotech %><span style="display:inline-block; width: 40px;"></span>  
        <%= submit_tag "Report", :class => "btn btn-primary", :id => "submit_form" %>
    <% end %>
  </div>
</div>

<div style="text-align: center;font-size: 150%;">
  <span id="display_message"></span>
</div>
<p></p>
<div id="gif"><img src="https://s3-us-west-2.amazonaws.com/mystocks/ajax-loader.gif" /></div>
<script>
  $('#submit_form').click(function(){
    $("#display_message").html("Report processing......");
    $("#gif").show();
  });
</script>
<p></p>

<div>
<% unless @result.nil? %>
  <% @result.each do |link| %>
    <% if link.include? "dchart" %>
      <h4><%= "Daily Chart" %></h4>
        <img src=<%= link %>>
        <p></p>
    <% elsif link.include? "wchart" %>
      <h4><%= "Weekly Chart" %></h4>
        <img src=<%= link %>>
        <p></p>
    <% elsif link.include? "mchart" %>
      <h4><%= "Monthly Chart" %></h4>
        <img src=<%= link %>>
        <p></p>
    <% elsif link.include? "insider" %>
      <h4><%= "Insider transactions" %></h4>
        <img src=<%= link %>>
        <p></p>
    <% else %>
      <h4><%= "Clinical Trails Pipeline" %></h4>
        <img src=<%= link %>>
        <p></p>
    <% end %>
  <% end %>
<% end %>
</div>

<% unless @patent_file.nil? %>
  <div>
    <h4> Patents Information</h4>
  </div>
  <div>
    <table id="patents" class="table table-striped table-condensed">
      <tr>
      </tr>
    </table>
    <p></p>
  </div>
<% end %>

<% unless @pub_file.nil? %>
  <div>
    <h4> Publications</h4>
    <table id="publications" class="table table-striped table-condensed">
      <tr>
      </tr>
    </table>
  </div>
<% end %>

<%= Gon::Base.render_data %>
