<h3>Generate a report</h3>
<div class="input-group" align="center" >
  <div class="form-inline">
    <%= form_tag(controller: :reports, action: :index) do %>
      <%= label_tag "Please input a stock symbol: " %>
      <%= text_field_tag 'ticker' %>
      <%= submit_tag "Report", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<p>
<% unless @result.nil? %>
  <% @result.each do |link| %>
    <% if link.include? "p=d" %>
      <p>
      <h4><%= "Daily Chart" %></h4>
        <img src=<%= link %>>
      </p>
    <% elsif link.include? "p=w" %>
      <p>
      <h4><%= "Weekly Chart" %></h4>
        <img src=<%= link %>>
      </p>
    <% elsif link.include? "p=m" %>
      <p>
      <h4><%= "Monthly Chart" %></h4>
        <img src=<%= link %>>
      </p>
    <% else %>
      <p>
      <h4><%= "Daily Chart, MAs and RSI for One Year Period" %></h4>
        <img src=<%= link %>>
      </p>
    <% end %>
  <% end %>
<% end %>
</p>

<div>
  <h4>Patents Information</h4>
</div>
<div>
  <table id="patents" class="table table-striped table-condensed">
    <tr>
    </tr>
  </table>
</div>

<div>
  <h4>Publications</h4>
  <table id="publications" class="table table-striped table-condensed">
    <tr>
    </tr>
  </table>
</div>

<%= Gon::Base.render_data %>
